body {
  text-align: center;
  background-color: #f5f5dc;
  font-family: "Montserrat", sans-serif;
  /* i */
}
h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  margin-top: 80px;
}
.search-container {
  margin-right: 30px;
}
.search-container input {
  width: 550px;
  height: 100px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 25px;
  text-align: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 60px 400px;
}
.button-grid button {
  width: 80px;
  height: 90px;
  font-size: 15px;
  text-align: text-top;
  margin-right: 30%;
  font-weight: 600;
  background-color: rgb(230, 230, 104);
  border: 2px solid rgb(230, 230, 104);
  border-radius: 10px;
  padding: 0;
}
.button-img {
  width: 75px;
  height: 70px;
  border-radius: 10px;
  margin: 0;
}
.button-text {
  margin: 0;
}

.topic-grid {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.topic-grid button {
  width: 120px;
  height: 60px;
  font-size: 15px;
  color: black;
  border-radius: 40px;
  font-weight: 600;
}

.button-all {
  background-color: purple;
}
.button-core {
  background-color: rgb(230, 230, 104);
}
.button-about-me {
  background-color: rgb(224, 175, 134);
}
.button-people {
  background-color: rgb(168, 168, 236);
}
.button-places {
  background-color: rgb(147, 212, 147);
}
.button-food {
  background-color: lightpink;
}
.button-activities {
  background-color: white;
}
.button-feelings {
  background-color: lightgrey;
}
.button-adjectives {
  background-color: grey;
}
.button-emergency {
  background-color: rgb(219, 118, 118);
}
.button-questions {
  background-color: rgb(214, 153, 74);
}
