body {
  text-align: center;
  background-color: #f5f5dc;
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  margin-top: 80px;
}
.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 700px;
  height: 200px;
  padding: 20px;
}
.text-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 600px;
  height: 150px;
  background-color: white;
  overflow-y: scroll;
  border-radius: 25px;
  text-align: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 60px 400px;
}
.button-grid button,
.text-box .div-copy {
  align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 10px;
  padding: 0;
}
.text-box .div-copy {
  padding-top: 4px;
  margin-left: 10px;
}
.button-img,
.text-img {
  width: 92px;
  height: 70px;
  border-radius: 10px;
  margin: 0;
}
.button-text,
.text-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.topic-grid {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.topic-grid button {
  width: 120px;
  height: 60px;
  font-size: 15px;
  color: black;
  border-radius: 40px;
  font-weight: 600;
}

.button-all,
.div-all {
  background-color: purple;
}
.button-core,
.div-core {
  background-color: rgb(230, 230, 104);
}
.button-about-me,
.div-about-me {
  background-color: rgb(224, 175, 134);
}
.button-people,
.div-people {
  background-color: rgb(168, 168, 236);
}
.button-places,
.div-places {
  background-color: rgb(147, 212, 147);
}
.button-food,
.div-food {
  background-color: lightpink;
}
.button-activities,
.div-activities {
  background-color: white;
}
.button-feelings,
.div-feelings {
  background-color: lightgrey;
}
.button-adjectives,
.div-adjectives {
  background-color: grey;
}
.button-emergency,
.div-emergency {
  background-color: rgb(219, 118, 118);
}
.button-questions,
.div-questions {
  background-color: rgb(214, 153, 74);
}

.button-grid .button-all,
.text-box .div-all {
  border-color: purple;
}
.button-grid .button-core,
.text-box .div-core {
  border-color: rgb(230, 230, 104);
}
.button-grid .button-about-me,
.text-box .div-about-me {
  border-color: rgb(224, 175, 134);
}
.button-grid .button-people,
.text-box .div-people {
  border-color: rgb(168, 168, 236);
}
.button-grid .button-places,
.text-box .div-places {
  border-color: rgb(147, 212, 147);
}
.button-grid .button-food,
.text-box .div-food {
  border-color: lightpink;
}
.button-grid .button-activities,
.text-box .div-activities {
  border-color: white;
}
.button-grid .button-feelings,
.text-box .div-feelings {
  border-color: lightgrey;
}
.button-grid .button-adjectives,
.text-box .div-adjectives {
  border-color: grey;
}
.button-grid .button-emergency,
.text-box .div-emergency {
  border-color: rgb(219, 118, 118);
}
.button-grid .button-questions,
.text-box .div-questions {
  border-color: rgb(214, 153, 74);
}
