h1 {
    color: black;
    text-align: center;
    font-size: 87px; 
  }
  body {
    text-align: center;    
  }
  .search-container {
    margin-right: 100px;
  }
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 40 20px;
  }
  .button-grid button, .button-grid input {
    width: 80px; 
    height: 40px; 
  }
